* {
    margin: 0;
    font-family: 'Bona Nova SC';
    box-sizing: border-box;
}

.canvas-background {
    background-image: url('../img/9_intro_outro_screens/start/desert-5112222_640.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.visibility-hidden {
    visibility: hidden;
}

.turn-device-icon {
    width: 100%;
}

.start-button {
    padding: 16px;
    border-radius: 10px;
    border: none;
    background-color: rgb(160,34,10);
    color: white;
    transition: transform 0.3s ease;
}

.start-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.button-start-steering {
    padding-top: 24px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.icons {
    width: 24px;
    z-index: 10;
    position: relative;
}

.settings {
    background-color: rgb(247,194,116);
    width: 200px;
    padding:24px;
    z-index: 150;
    border-radius: 10px;
    box-shadow: 15px 20px 20px 12px rgba(0,0,0,0.3),0px 10px 15px -3px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#onlyLandscapeModus {
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    width: 100%;
    padding: 24px;
}

.flex-align-center {
    display: flex;
    align-items: center;
    gap: 40px;
}

.setting-icons {
    width: 60px;
}

.close-icon {
    width: 32px;
    transition: transform 0.3s ease;
}

.container-for-close-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.font-size-32 {
    font-size: 32px;
}

.additionally-imprint {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
}

.mobile-background {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile {
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -55px;
}

.mobile-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgb(247,194,116);
    border: 3px solid #a0220a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mute-button-web {
    width: 720px;
    height: 480px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 24px;
}

.position-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.mobile-steering {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 720px;
    height: 480px;
}

.touch-panels {
    display: flex;
    gap: 8px;
    padding: 12px;
}

.game-settings {
    width: 720px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 24px;
}

.icons:hover {
    cursor: pointer;
    transform: scale(1.4);
}

.gameover-screen {
    background-image: url('../img/9_intro_outro_screens/game_over/game over!.png');
    width: 720px;
    height: 480px;
    background-position: center;
    background-size: cover;
}

.win-screen {
    background-image: url('../img/9_intro_outro_screens/win/win_2.png');
    width: 720px;
    height: 480px;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
}

.start-screen {
    background-image: url('../img/9_intro_outro_screens/start/startscreen_1.png');
    width: 720px;
    height: 480px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.button-container-endscreen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80%;
}

.z-index-10 {
    z-index: 10;
}

.z-index-15 {
    z-index: 15;
}

.z-index-30 {
    z-index: 30;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #a0220a #f7c274;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #f7c274;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a0220a;
    border-radius: 3px;
    border: 3px solid #a0220a;
  }

  .flex-start {
    align-items: flex-start;
  }

  .scrollbar-div {
    border-radius: 10px;
    overflow: hidden;
  }

  .steering-mobile {
    width: 12px;
  }

  .mute-button {
    padding: 24px;
  }

  @media(max-height: 500px) {
    .start-screen, #canvas, .mobile-steering, .mute-button-web {
        height: -webkit-fill-available;
    }

    .win-screen, .gameover-screen {
        height: -webkit-fill-available;
        width: 100%;
    }

    .headline {
        display: none;
    }

    .mobile-steering {
        width: 100%;
    }

    .button-container-endscreen {
        height: 90%;
    }
  }

@media(max-height: 480px) and (max-width: 720px) {
    #canvas {
        width: -webkit-fill-available;
    }
}

@media(max-height: 400px) and (max-width: 720px) {
    #canvas {
        width: -webkit-fill-available;
    }
}

@media screen and (orientation: portrait) { 
    #onlyLandscapeModus {
      display: flex;
    }
    .display-block, #canvas {
      display: none; /* Versteckt den eigentlichen Inhalt */
    }
  }